/* @theme custom */
@import "default";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

section {
  color: #656d76;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  line-height: 1.7;
  padding-bottom: 1em;
}

section.title {
  background-color: #67b5b7;
  opacity: 0.5;
  color: white;
}
section.title h1,
section.title h2,
section.title h3,
section.title h4,
section.title h5,
section.title h6 {
  color: white;
}

section table {
  text-align: left;
}

section table td {
  text-align: center;
}

section.title footer {
  color: #5e80ad;
}

section.title strong {
  color: white;
}
  
strong {
  color: #4488cc;
}

em {
  font-style: normal;
  font-weight: bold;
  background-color: #4488cc25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #224466;
}

section mjx-container {
  color: #5e80ad;
}

section table {
  margin: 10px auto;
}

section table td {
  text-align: center;
}

section table td img {
  display: block;
  margin: 0 auto;
}

section table th {
  background-color: var(--background-theme);
}

header {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #5e80ad; /* 下線を追加 */
}

:root {
  --fw: 1;
}
/* ----- レイアウト ----- */
.flex{
  display: flex;
  gap: 1em;
}
.sa {
  justify-content: space-around;
  /* border: 8px dashed rgb(15, 166, 226);
  background-color: rgb(222, 244, 255); */
}
.sb {
  justify-content: space-between;
  /* border: 8px dashed rgb(21, 17, 255);
  background-color: rgb(222, 244, 255); */
}
.sa div,.sb div{
  margin: 0.1em;
  /* border: 8px dashed rgb(80, 177, 109);
  background-color: rgb(227, 250, 237); */
}
.fw div{
  flex: var(--fw);
  /* background-color: rgb(244, 238, 255);
  border: 8px dashed rgb(93, 0, 255); */
}/* ---------- */